#starter-container {
    border-top: 1px solid blue;
    border-bottom: 5px solid blue;
}
#house1-container {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}
#house2-container {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

#character1create-container {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}
#character2create-container {
    border-top: 1px solid green;
    border-bottom: 5px solid green;
}