h1 {
    display: flex;
    font-family: white;
    font-size: 60px;
    justify-content: center;
}

body, html {
    height: 100%;
    margin: 0;
    background-image: url('https://image.freepik.com/free-photo/dark-grey-black-slate-texture-natural-pattern-with-high-resolution-background-design-art-work-black-stone-wall_38607-408.jpg');
    background-repeat: repeat;
}